[Unit]
Description=Zookeeper Node Start Up
After=network.target

[Service]
Type=forking
User=zookeeper
Environment=ZOO_LOG_DIR={{ dataDir }} JAVA_HOME=/usr/lib/jvm/java-1.7.0
ExecStart={{ zk_dir }}/bin/zkServer.sh start {{ zk_dir }}/conf/zoo.cfg
ExecStop={{ zk_dir }}/bin/zkServer.sh stop
ExecReload={{ zk_dir }}/bin/zkServer.sh restart
Restart=on-abort

[Install]
WantedBy=multi-user.target
