[Unit]
Description=Hadoop Job History Service
After=network.target

[Service]
Type=forking
User=hadoop
Environment=HADOOP_PREFIX={{ hadoop_install_dir }} JAVA_HOME=/usr/lib/jvm/java-1.8.0
ExecStart={{ hadoop_install_dir }}/sbin/mr-jobhistory-daemon.sh start historyserver
ExecStart={{ hadoop_install_dir }}/sbin/mr-jobhistory-daemon.sh stop historyserver
Restart=on-abort

[Install]
WantedBy=multi-user.target
