127.0.0.1       localhost.localdomain localhost 
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6
192.168.33.40   hadoopmaster
192.168.33.41   hadoopdata1
192.168.33.42   hadoopdata2
