# Created by ansible
tickTime={{ tickTime }}
initLimit={{ initLimit }}
syncLimit={{ syncLimit }}
dataDir={{ dataDir }}
clientPort={{ clientPort }}
server.1={{ server1 }}:2888:3888
server.2={{ server2 }}:2888:3888
server.3={{ server3 }}:2888:3888
